.search__button {
  width: 168px;
  margin-bottom: 32px;
}

@media (min-width: 321px) and (max-width: 768px) {
  .search__button {
    width: 100%;
    /* padding-top: 16px; */
    margin-bottom: 16px;
  }

  .search__button .btn {
    width: 100%;
  }
}



@media (max-width: 320px) {
  .search__button .btn {
    width: 288px;
    padding-left: 24px;
    padding-right: 24px;
    /* margin-top: 16px;*/
    margin-bottom: 16px;
  }
}
