@import './_hoverable/nav__item_hoverable.css';
@import './_selected/nav__item_selected.css';
@import './_pull-right/nav__item_pull-right.css';
@import './_style/nav__item_style.css';

.nav__item {
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  font-family: var(--primary-font-family);
  font-style: var(--primary-font-style);
  font-weight: 500;  
  margin-right: 24px;
}

.nav__item a {
  text-align: center;
  text-decoration: none;
}

.nav__item {
  text-align: center;
  text-decoration: none;
}

@media (min-width: 321px) and (max-width: 768px) {
  .nav__item {    
    font-size: 16px;
    line-height: 22px;
    margin-right: 16px
    /* margin: 38px 0 auto 0; */
  }

  #copyright_desk {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 320px) {
  .nav__item {    
    font-size: 18px;
    line-height: 48px;
    margin-right: auto;
    padding: 0px;
    /* margin: 38px 0 auto 0; */
  }

  #copyright_mob {
    font-size: 14px;
    line-height: 20px;
  }

}