.about__avatar {
  max-width: 464px;
  max-height: 464px;
  padding-left: 40px;
  padding-right: 32px;
  padding-top: 42px;  
}

@media (min-width: 321px) and (max-width: 768px) {
  .about__avatar {
    width: 232px;
    height: 232px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 769px) and (max-width: 1439px) {
  .about__avatar {
    width: 232px;
    height: 232px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 320px) {
  .about__avatar {
    flex-direction: column;
    width: 232px;
    height: 232px;
    margin-left: 0;
    margin-right: 0;    
  }
}