.search-result__container {
  padding-top: 80px;
  padding-left: 102px;
  padding-right: 102px;
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1232px;
  text-align: center;  
}

.search-result__container h2,h3,h4,h5 {
  text-align: left;
  padding: 0;
  margin: 0;
}

@media (max-width: 320px) {
  .search-result__container {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 288px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .search-result__container {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 688px;
    padding-top: 32px;
    padding-bottom: 32px;
    /* padding-left: 56px;
    padding-right: 56px; */
  }
}

@media (min-width: 769px) and (max-width: 1439px) {
  .search-result__container {
    max-width: 1232px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
